<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home || Savic Gurukul</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

  <style>

    body, html {
      height: 80%;
    }
    
    .parallax {
      background-image: url('/images/moonshot.jpg');
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  </style>
</head>

<body>
  <header>
    <div class="heading-top">
      <p style="display:inline-block; -webkit-text-fill-color: white;">Have any question? +91 80 80 80 68 51</p>
    </div>
    <div class="overlay">
      <div class="social-icons">
        <a href="#" title="twitter"> 
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="#"  title="facebook"> 
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="#" title="linkedin">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="#" title="youtube">
          <i class="fa fa-youtube-square" aria-hidden="true"></i>
        </a>
        <a href="#" title="instagram">  
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </header>
  <nav class="navbar">
    <ul>
      <li><a href="/home">home</a></li>
      <li><a href="/register">register</a></li>
      <li><a href="/">login</a></li>
      <li><a href="/profile">profile</a></li>
      <li><a href="#">logout</a></li>
    </ul>
    <img class="savic-logo" src="/images/SAVIC1.png" alt="savic logo">
  </nav>

  <div class="homebanner">
    <img id="homebanner-pic" src="/images/homebanner.jpg" alt="homebanner">
    <h1 style="font-size: 50px; text-align: center; position: relative; top: 50px;">WELCOME TO SAVIC GURUKUL !</h1>
  </div>
  <div class="overlayed">
    <h3 id="ques">WHY SAVIC ?</h3>
  </div>
  <div id="box">

    <p id="gurukul-text"><br>SAVIC Gurukul Fresher Employment Program empowers the fresh college students who got trained/just<br> 
      <br>completed graduation or post-graduation from any discipline/currently studying, with immediate<br> 
      <br>employment in SAVIC. These programs ensure a seamless transition through hands on experience, on the<br> 
      <br>job exposure to next level of employment with in SAVIC employee ecosystem.
    </p>
    <a href="#" class="button-default">learn now</a>
    <img src="/images/why_savic.jpg" class="pic" alt="why_savic">
  </div>
  
  <div class="course">
    <h2 id="line">Courses offered by Savic</h2>
    <div class="grid-container">

      <div class="hovers">
        <img src="/images/sap.png" alt="SAP">
        <div class="overlay-top">
          <div class="text">SAP</div>
        </div>
      </div>

      <div class="hover-google">
        <img src="/images/google clouds.png" alt="Google Clouds">
        <div class="overlay-bottom">
          <div class="text2">Google Clouds</div>
        </div>
      </div>

      <div class="hovers">
        <img src="/images/microsoft.png" alt="Microsoft">
        <div class="overlay-top">
          <div class="text">Microsoft</div>
        </div>
      </div>

      <div class="slide-in-right">
        <img src="/images/java.webp" alt="Java">
        <div class="overlay-right">
          <div class="text3">Java</div>
        </div>
      </div>

      <div class="slide-in-left">
        <img src="/images/python.webp" alt="Python">
        <div class="overlay-left">
          <div class="text4">Python</div>
        </div>
      </div>

      <div class="slide-in-right">
        <img src="/images/aiml.png" alt="AI & ML">
        <div class="overlay-right">
          <div class="text3">AI & ML</div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax"></div>
  <div class="parallax"></div>

  <div class="fresher">
    <img class="logo-1" src="/images/logo.png" alt="">
    <img class="logo-2" src="/images/logo.png" alt="">
    <h1>SAVIC Gurukul</h1>
    <h2>Fresher Employment Program</h2>

    <div class="c1"> 
      <img src="/images/c1.jpg" alt="">
      <div class="text-container-right">
        <h3>Job Security</h3>
        <p>As every joiner is"Deputy Associate Consultant/ 
          Executive" since day one in SAVIC ,
          there is an accelerated career progression</p>
      </div>
    </div>

    <div class="c2"> 
      <img src="/images/c2 .jpg" alt="">
      <div class="text-container-left">
        <h3>Continious Career Growth</h3>
        <p>Onboarding to training program as "Deputy associate consultant/executive" 
          ensures every joiner a position in SAVIC employee ecosystem</p>
      </div>
    </div>

    <div class="c1"> 
      <img src="/images/c3.jpg" alt="">
      <div class="text-container-right">
        <h3>On The Job Exposure</h3>
        <p>Working with ongoing projects & engagement teams brings theory into application</p>
      </div>
    </div>

    <div class="c2"> 
      <img src="/images/c4.jpg" alt="">
      <div class="text-container-left">
        <h3>Presentation and Leadership Skills</h3>
        <p>SAVIC Gurukul trains every joiner with latest skills in 
          contemporary technology tools & methods</p>
      </div>
    </div>

    <div class="c1"> 
      <img src="/images/c5.jpg" alt="">
      <div class="text-container-right">
        <h3>Global Experience</h3>
        <p>SAVIC ongoing enagagements on cutting edge technology will empower 
          all joiners with globally sought-after experience</p>
      </div>
    </div>

    <div class="c2"> 
      <img src="/images/c6.jpg" alt="">
      <div class="text-container-left">
        <h3>Work Life Balance</h3>
        <p>SAVIC provides opportunity to work from various cities in India & overseas, 
          which gives employee an opportunity to work from near native place</p>
      </div>
    </div>
    
  </div>

  <div class="footer">



    <div class="flex-1">
      
      <img id="foo-logo" src="/images/SAVIC2.png" alt="">
      <section class="foo-social">
        <div class="social">

          <div class="social-grid-container">
            <div class="grid-item"><a href="#" class="fa fa-facebook"></a></div>
            <div class="grid-item"><a href="#" class="fa fa-twitter"></a></div>
            <div class="grid-item"><a href="#" class="fa fa-linkedin"></a></div>
            <div class="grid-tem"><a href="#" class="fa fa-youtube"></a></div>
            <div class="grid-item"><a href="#" class="fa fa-instagram"></a></div>
          </div>

          
        </div>
      </section>

    </div>



    <div class="flex-2">
      <div class="flex-3">
        <h3>GET IN TOUCH</h3>
        <span class="icons">
          <i class='fas fa-phone-square-alt' style='font-size:24px'></i>
          <i class="fas fa-clock" style="font-size:36px;"></i>
        </span>
        <ul>
          <li>+91 80 80 80 68 51</li>
          <li>careers@savictech.com</li>
          <li>gurukul.savictech.com</li>
          <li>803, Summit, Great Eastern, Sector 15, CBD Belapur, Navi Mumbai, Maharashtra 400614.</li>
        </ul>
      </div>
      <div class="flex-4">
        <h3>USEFUL LINKS</h3>
        <ul>
          <li>About</li>
          <li>Contact</li>
          <li>Trained Fresher Program</li>
          <li>College fresher Program</li>
          <li>Mid College Fresher Program</li>
        </ul>
      </div>
      <div>
        <img id="certificate" src="/images/Certification.png" alt="">
      </div>
    </div>



  </div>
  <!--Footer Area Start-->
  <footer class="footer-area">
    <div class="left-text">© Copyright 2022 – SAVIC Inc | All rights reserved</div>
    <div class="right-text">Privacy Policy , Terms &amp; Conditions</div>
  </footer>
  <!--End of Footer Area--> 
  






</body>
</html>